body{
  background:cyan;
}
button{
  width:12vw;
  height:6.1vw;
  margin:0 ;
  font-size:3.5vw;
  border:1px solid black;
  border-radius:12px;
  background-color:#dfeb94;
  box-shadow:5px 0 black;
  font-weight: bold;

}
.numbers{
  float:left;
  margin-right:4px;
}
#equal{
  height:18.14vw;
}
.wrapper{
  background:#693917;
  width:49.5vw;
  height:43vw;
  border-radius:30px;
  padding-top:0px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  margin:auto;
  box-shadow:10px 10px black;

}
.number buttton{
  margin:0;
}

#show{
  background-color:#403e3b;
  color:white;
  height:10vw;
  font-size:7.3vw;
  padding-top:10px;
  border:5px solid black;
  border-radius:10px;
  width:48.5vw;
}
#one{
  margin-right:0;
}
button:hover{
  opacity:0.85;

}
.operator button{
  background-color:#c5cfde;
}

#equal{
  background-color:#d9bac2;
}
/*binary css*/
#res{
    background-color:#403e3b;
    border-radius:10px;
    border:5px solid black;
    height:7vw;
    font-size:5vw;
    width:48.5vw;
}
#btn0,#btn1{
    background:#d9bac2;
    color:black;

}
#btnClr,#btnEql{
    background:#dfeb94;
    color:black;

}
#btnSum,#btnSub,#btnMul,#btnDiv{
    background:c5cfde;
    color:black;
}
.btns button{
    width:25%;
    height:36px;
    font-size:3vw;
    float:left;
}
.binary{
  display:none;
  width:50vw;
  height:21.5vw;
  margin:auto;
  margin-top: 7vw;
  background:#693917;
  box-shadow:10px 10px black;
  padding-top:0px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  border-radius:30px;
}
