body{
  background:cyan;
}
button{
  width:70px;
  height:50px;
  margin:0 ;
  font-size:25px;
  border:1px solid black;
  border-radius:8px;
  background-color:#dfeb94;
  box-shadow:5px 0;
  
}
.numbers{
  float:left;
  margin-right:4px;
}
#equal{
  height:150px;
}
.wrapper{
  background:#693917;
  width:292px;
  border-radius:30px;
  padding:20px;
  margin:auto;
  box-shadow:10px 10px black;
   
}
.number buttton{
  margin:0;
}

#show{
  background-color:#403e3b;
  color:white;
  height:70px;
  font-size:50px;
  padding-top:10px;
  border:5px solid black;
  border-radius:10px;
  width:282px;
}
#one{
  margin-right:0;
}
button:hover{
  opacity:0.85;

}
.operator button{
  background-color:#c5cfde;
}

#equal{
  background-color:#d9bac2;
}
