body{
  background:cyan;
  font-family: arial;
}
button{
  width:11vw;
  height:5.35vw;
  margin-left:-0.2vw;
  font-size:3.5vw;
  border-radius:12px;
  background-color:#dfeb94;
  border:1px solid black;

}
button:hover{
  cursor:pointer;
}
.bt{
  margin-left: 4px;
}
#pow{
  font-size: 2.7vw;
}
i{
  font-size: 3vw;
}
.m{
  font-size:2.5vw;
}
.numbers{
  float:left;
  margin-right:0.3vw;
}
#equal{
  height:16vw;
}
.wrapper{
  background:#693917;
  width:47vw;
  height:45vw;
  border-radius:30px;
  padding-top:0px;
  padding-bottom:1.5vw;
  padding-left:2vw;
  margin:auto;
  box-shadow:1vw 1vw black;
  display:block;

}
.number buttton{
  margin:0;
}

#show{
  background-color:#403e3b;
  color:white;
  height:10vw;
  font-size:7.3vw;
  padding-top:0.8vw;
  border:5px solid black;
  border-radius:10px;
  width:44vw;
}
#one{
  margin-right:0;
}
button:hover{
  opacity:0.85;

}
.operator button{
  background-color:#c5cfde;
}

#equal{
  background-color:#d9bac2;
}
/*binary css*/
#res{
    background-color:#403e3b;
    border-radius:10px;
    border:5px solid black;
    height:7vw;
    font-size:5vw;
    color:white;
    width:48.5vw;
}
#btn0,#btn1{
    background:#d9bac2;
    color:black;

}
#btnClr,#btnEql{
    background:#dfeb94;
    color:black;

}
#btnSum,#btnSub,#btnMul,#btnDiv{
    background:c5cfde;
    color:black;
}
#btns button{
    width:12.2vw;
    height:5.8vw;
    font-size:3vw;
}
#btns{
  padding-left: 5px;
}
.binary{
  display:none;
  width:50vw;
  height:21.5vw;
  margin:auto;
  margin-top: 7vw;
  background:#693917;
  box-shadow:10px 10px black;
  padding-top:0px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  border-radius:30px;
}
